# virtual env
venv/
env/
newvenv/

# data / experiments
data/
att/
archie/
exp/

# docs (nếu không cần track)
docs/

# json draft
draft/*.json

data_test/

chroma_DB_fixed_size_chunk/
chroma01_DB/
chroma_DB/