# virtual env
venv/
env/
newvenv/
venv_for_langchain_based/

# data / experiments
data/
att/
archie/
exp/

# docs (nếu không cần track)
docs/

# json draft
draft/*.json

data_test/

chroma_DB_fixed_size_chunk/
chroma01_DB/
chroma_DB/
experiment_data/


experiment_chunk_storage/

__pycache__/
archie
att
build

src/app/chat_flow/routes_intent.json

.env
.data/
.att/
.archie/
.exp/
.__pycache__/
draft/